.dashboard {
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c2c9cf,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c2c9cf,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*  new gradient*/

  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ebeaea,
    #abbaab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ebeaea,
    #abbaab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.dashboard-content {
  flex: 1;
  display: grid;
  padding-right: 20px;
}

.dashboard-data {
  display: flex;
  justify-content: space-between;
  height: 70vh;
}

.dashboard-chart-container {
  flex: 1;
  display: grid;
  grid-template-areas:
    "doughnutChart horizontalBarChart horizontalBarChart horizontalBarChart "
    "lineChart lineChart lineChart lineChart "
    "lineChart lineChart lineChart lineChart "
    "lineChart lineChart lineChart lineChart "
    "lineChart lineChart lineChart lineChart "
    "lineChart lineChart lineChart lineChart ";

  grid-gap: 20px;
}
