.dashboard {
  display: flex;
  max-width: 100vw;
  box-sizing: border-box;
  /* Ezoic  */
  background: rgb(95, 167, 37);

  background: linear-gradient(
    315deg,
    hsla(93, 64%, 40%, 1) 0%,
    hsla(0, 0%, 100%, 0.8) 92%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(93, 64%, 40%, 1) 0%,
    hsla(0, 0%, 100%, 0.8) 92%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(93, 64%, 40%, 1) 0%,
    hsla(0, 0%, 100%, 0.8) 92%
  );
}

.dashboard-content {
  flex: 1;
  display: grid;
  margin: 25px 0;
  padding: 2%;
}

.dashboard-top-container {
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
  margin: 25px 0;
}

.dashboard-top-chart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-circle-charts {
  display: flex;
  min-height: 50%;
  margin-bottom: 20px;
}

.dashboard-total-chart-container {
  min-height: 70vh;
  display: flex;
}

.dashboard-left-chart-container {
  flex: 1.75;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-right-chart-container {
  flex: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

@media (max-width: 1250px) {
  .dashboard-top-container {
    flex-direction: column;
  }
  .dashboard-circle-charts {
    margin-top: 20px;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .dashboard-total-chart-container {
    flex-direction: column;
  }
  .dashboard-right-chart-container {
    margin: 0;
  }
}
