.dashboard {
  display: flex;
  max-width: 100vw;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c2c9cf,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c2c9cf,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*  new gradient*/

  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ebeaea,
    #abbaab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ebeaea,
    #abbaab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.dashboard-content {
  flex: 1;
  display: grid;
  padding-right: 20px;
  margin: 25px 0;
}

.dashboard-team-data-container {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  margin: 25px 0;
}

.dashboard-team-chart-container {
  flex: 1;
  display: grid;
  grid-template-areas:
    "doughnutChart horizontalBarChart horizontalBarChart horizontalBarChart "
    "stackedBar stackedBar stackedBar stackedBar "
    "stackedBar stackedBar stackedBar stackedBar "
    "stackedBar stackedBar stackedBar stackedBar "
    "stackedBar stackedBar stackedBar stackedBar "
    "stackedBar stackedBar stackedBar stackedBar ";
  grid-gap: 20px;
  height: 70vh;
}

.dashboard-store-chart-container {
  height: 70vh;
  display: flex;
}

.dashboard-left-chart-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.dashboard-right-chart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
