.data-card {
  min-height: 15vh;
  min-width: 15vw;
  background: rgba(255, 255, 255, 0.55);
  border: 1px solid rgb(245, 245, 245, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
