.table-container {
  display: flex;
  padding: 5px;
  /* max-height: 50vh; */
  /* max-width: 50vw; */
}
.table {
  justify-content: center;
}

th,
td {
  min-width: 5vw;
  font-size: 0.9rem;
  padding: 15px;
  background: rgba(255, 255, 255, 0.55);
  border: 1px solid rgb(245, 245, 245, 0.55);
}

td {
  text-align: center;
}

tbody {
  border-bottom: 1px solid rgb(245, 245, 245, 0.55);
}
