.table-container {
  display: flex;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-right: 20px;
}

.table {
  justify-content: center;
  flex: 1;
}

th,
td {
  min-width: 10vw;
  font-size: 0.9rem;
  padding: 15px;
  background: rgb(245, 245, 245, 0.9);
  border: 1px solid rgb(245, 245, 245, 0.55);
}

td {
  text-align: center;
}

tbody {
  border-bottom: 1px solid rgb(245, 245, 245, 0.55);
}

@media (max-width: 1250px) {
  .table-container {
    margin: 0;
  }
}
